/* styles/globals.css */

/* Reset default browser styles */
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set global font */
body {
  font-family: Arial, sans-serif;
}

/* You can add more global styles as needed */
